@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap games</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div style="background-color:red; height:53px;">
            <div class="container">
                <button class="btn button-nav-bar">Hello</button>
            </div>
        </div style="background-color:red;">
    </div>
      <div class="row-fluid">
          <div class="span6 offset2">
              <h1>Hello, world!</h1>
          </di>
      </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>